<!DOCTYPE html>
<html>
<head>
  <title>Wer kommt mit zum Dönermann?</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag '/images/favicon.png', rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag '/images/favicon.png', rel: 'icon', type: 'image/png' %>
  <%= favicon_link_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
